@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "Baloo Chettan 2", cursive;
  box-sizing: border-box;
  color: white;
}
::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  height: 100vh;
}
