.side {
  position: absolute;
  width: 33%;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 20px;
  backdrop-filter: blur(50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  hr {
    width: 100%;
  }
  h1,
  h2,
  h3 {
    color: rgba(255, 255, 255, 0.5);
  }
}

.weather {
  overflow: scroll;
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nearby {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    width: 60px;
  }
}
.nearby__item--details {
  display: flex;
  align-items: center;
}
